head
	script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
	link(href="https://cdnjs.cloudflare.com/ajax/libs/flat-ui/2.2.2/css/flat-ui.css" rel="stylesheet")

	h4 Organisms

	div(class="list-group")
		a(class="list-group-item list-group-item-action" href="Organisms/Footer.jade") Footer
		a(class="list-group-item list-group-item-action" href="Organisms/Header.jade") Header
		a(class="list-group-item list-group-item-action" href="Organisms/Label-Button.jade") Label-Button
		a(class="list-group-item list-group-item-action" href="Organisms/Label-Input.jade") Label-Input
		a(class="list-group-item list-group-item-action" href="Organismos/Label-slider.jade") Label-Slider


	


