head
        script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
        link(href="https://cdnjs.cloudflare.com/ajax/libs/flat-ui/2.2.2/css/flat-ui.css" rel="stylesheet")
        content(class="container col-md-12 col-xs-12 col-lg-12")
            nav(class="navbar navbar-default") 
                    p Brand
                div(class="col-md-3")
        div(class="col-md-1")
        div(class="col-md-1")  
        div(class="btn-group")
            button(class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown")
                i(class="img-rounded")
                span (class="caret")
            ul
                li 
                    a(href="#") action1

        div(class="row")
        div(class="row text-center")
        div(class="col-md-12 container-fluid")
            h1 title
        
        Div(class="row")
            content(class="col-md-6 content-fluid")
                p content_one
                ul 
                    li 
                         a contenido
            content(class="col-md-6 content-fluid")
                p content_two
                ul 
                    li 
                        a contenido 1
                        a contenido 2
            

    div(class="navbar navbar-default navbar-fixed-bottom")