//Created by yangdongxu on 15/8/24.

section.sample-app-content

		script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
		link(href="https://cdnjs.cloudflare.com/ajax/libs/flat-ui/2.2.2/css/flat-ui.css" rel="stylesheet")
		div(class="" id="dash")

		//-jQuery (necessary for Flat UI's JavaScript plugins)
		script(src="../assets/css/Flat-UI-master/dist/js/vendor/jquery.min.js")

		//-Include all compiled plugins (below), or include individual files as needed
		script(src="../assets/css/Flat-UI-master/dist/js/flat-ui.min.js")

	h3

		nav(class="nav flex-column")
			a([router-link]="['/create']") Create
			a([router-link]="['/execute']") Execute
			a([router-link]="['/execute']") Historic

