head
	script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
	link(href="https://cdnjs.cloudflare.com/ajax/libs/flat-ui/2.2.2/css/flat-ui.css" rel="stylesheet")

	h1 Layouts

	div(class="list-group ancho-ele")
		a(class="list-group-item list-group-item-action" href="pages/Assets00X.jade") Assets
		a(class="list-group-item list-group-item-action" href="pages/Dashboard001.jade") Dashboard
		a(class="list-group-item list-group-item-action" href="pages/Create002.jade") Create
		a(class="list-group-item list-group-item-action" href="pages/Execute003.jade") Execute
		a(class="list-group-item list-group-item-action" href="pages/Historic004.jade") Historic

					

	

