head
	script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
	link(href="https://cdnjs.cloudflare.com/ajax/libs/flat-ui/2.2.2/css/flat-ui.css" rel="stylesheet")
	div(class="" id="dash")
		
		h1 Atoms
	div(class="list-group ancho-ele")
		a(class="list-group-item list-group-item-action" href="/Atoms/Button_Default.jade") Default Button
		a(class="list-group-item list-group-item-action" href="/Atoms/Button_Info.jade") Info Button
		a(class="list-group-item list-group-item-action" href="/Atoms/Dropdown.jade") Dropdown
		a(class="list-group-item list-group-item-action" href="/Atoms/Input.jade") Input
		a(class="list-group-item list-group-item-action" href="/Atoms/Label.jade") Label
		a(class="list-group-item list-group-item-action" href="/Atoms/Slider.jade") Slider
		a(class="list-group-item list-group-item-action" href="/Atoms/Textarea.jade") Textarea

	

